.footer {
    background-color: #F8F8F8;
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 83px;
    margin-top: 22px;
    @media screen and (max-width: 450px) {
      margin-top: 0;
    }
  }
  &__text {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #949494;
    @media screen and (max-width: 950px) {
      font-size: 14px;
    }
  }
}
